.button {
    border: none;
    background: var(--primary);
    color: var(--text-over-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 22rem;
    padding: 0.8rem;
    border-radius: 0.8rem;
}

.button svg {
    width: 3.2rem;
    height: 3.2rem;
}